header {
    nav {
        background-color: $secondary-color;
    }
    a {
        text-transform: uppercase;
        font-weight: 500px;
        color: $secondary-text-color;

        &:hover {
            color: $nav-link-color;
        }
    }
    a.nav-link,

    a.nav-link-active {
        text-transform: uppercase;
        font-weight: 500;
        color: $secondary-text-color
    }
    a.nav-link:hover {
        color: $nav-link-color;
    }

    .search-bar {
        margin: 0 25px 0 0;
    }
}

@media screen and (max-width: 768px) {
    .right-nav {
        display: flex;
        justify-content: flex-end; /* Content sticks to the right side */
        margin: 25px 0 0 0;
        width: 100%; 
    }

}

