{% extends 'layouts/main_layout.html' %}

{% block content %}
<div class="container d-flex flex-column">
    <h1 class="text-center">Are you sure you want to delete? </h1>
    <h1><p class="text-center"><strong> This is IRREVERSIBLE! </strong></p></h1>
    
    {% if user.is_authenticated %}
    <form class="text-center" action="{% url 'delete_profile' user.username %}" method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">DELETE ACCOUNT</button>
    <a href="{% url 'profile' %}" class="btn btn-outline-dark btn-upd">Cancel</a>
    </form>
    </div>
    {% endif %}
{% endblock %}

